<nav>
    <div id="navbar-top"></div>
    <div id="navbar-container">
        <div class="btn library">
            <a href=""><img src="/assets/images/icon-library.png" alt="Library button"></a>
        </div>
        <div class="btn add">
            <a href=""><img src="/assets/images/icon-add.png" alt="Add button"></a>
        </div>
        <div class="btn search">
            <a href=""><img src="assets/images/icon-search.png" alt="Search button"></a>
        </div>
        <div class="btn stats">
            <a href=""><img src="assets/images/icon-stats.png" alt="Statistics button"></a>
        </div>
        <div class="btn user">
            <a href=""><img src="assets/images/icon-user.png" alt="User button"></a>
        </div>
    </div>
    <div id="user-navbar">
        <div class="btn user-info">
            <a href=""><img src="" alt="User informations"></a>
        </div>
        <div class="btn user-stats">
            <a href=""><img src="" alt="User statistics"></a>
        </div>
        <div class="btn user-friends">
            <a href=""><img src="" alt="User friends"></a>
        </div>
        <div class="btn user-library">
            <a href=""><img src="" alt="User library"></a>
        </div>
    </div>
</nav>