{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/guest/guest.css">
{% endblock %}

{% block header %}
	<header id="guest-header">
		<a href="/"><img src="/assets/images/navbar/user-menu/icon-user-library.png" alt="Home button"></a>
		<h1>MyBookShelf</h1>
		<p class="your-digital-book">
			Your digital<br/>bookshelf
		</p>
		<button class="modal-btn modal-trigger" id="sign-in">Sign in</button>
		<div id="modal-container">
			<div id="overlay" class="modal-trigger"></div>
			<div id="modal">
				<form method="post" action="/homepage/...">
					<div id="userLogin">
						<label for="username">User</label>
						<input type="text" id="username" name="username" required/>
					</div>
					<div id="passwordLogin">
						<label for="password">Password</label>
						<input type="password" id="password" name="password" required/>
						<a href=''>Forgot password ?</a>
					</div>
					<div id="signUp">
						Don't have an account ?<a href=''>Sign up</a>
					</div>
					<input type="submit" id="submit" value="Sign in"/>
				</form>
			</div>
		</div>
	</header>
{% endblock %}
{% block content %}
	<div id="home-guest">
		<section id="section1">
			<div id="heart"><img src="../assets/icons/heart.svg"></div>
			<p class="text-home">Make your physical library become digital by adding every book you have read !</p>
		</section>
		<section id="middle"><img id="star" src="../assets/icons/star.svg"><p class="text-home middle">Have an easy look back on every one of your reads : reviews, note, stats & more!</p>
		</section>
		<section id="section3"><img id="share" src="../assets/icons/share.svg"><p class="text-home">Share your readings with others and find your next reading !</p>
		</section>
	</div>
{% endblock %}
{% block javascript %}
	<script src="/assets/js/local.js"></script>
{% endblock %}
