{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Hello Wilder !</h1>
    <p>zizi.</p>
{% endblock %}

{# {% block navbar %}
    {% extends '../book/_navbar.html.twig' %}
{% endblock %} #}