{% extends 'layout.html.twig' %}

{% block content %}
            <div>
                <div class="container">
                        <div class="book-icon">
                                <img src="../assets/icons/book.svg" alt="book icon">
                        </div>
                        <div>
                            <img src="../assets/images/header.png" alt="header image">  
                                <h1 class="mybookshelf-h1">MyBookshelf</h1>
                        <div class="your-digital-book">
                            <p> Your digital 
                            <br>
                                bookshelf
                            </p>
                        </div>
                    </div>       
                </div>                
            </div>
            <div class="bloc-text">
                <div class="heart"><img src="../assets/icons/heart.svg"></div>
                <div class="text-home">Make your physical library become digital by adding every book you have read !</div>
            </div>
            <div class="card-home">
                <div class="bloc-text">
                    <div class="text-home-middle">Have an easy look back on every one of your reads : reviews, note, stats & more!</div>
                    <div><img src="../assets/icons/star.svg"></div>
                </div>
            </div>
            <div class="bloc-text">
                <div><img src="../assets/icons/Share.svg"></div>
                <div class="text-home">Share your readings with others and find your next reading !</div>
            </div> 
{% endblock %}
