{% extends 'layout.html.twig' %}

{% block content %}
    <p>Dashboard</p>

    <div class="card dashboard">
        <div></div>
    </div>
    <div class="card dashboard">
        <div></div>
    </div>
    <div class="card dashboard">
        <div></div>
    </div>
{% endblock %}