#guest-header {
  position: relative;
  background-image: url("/assets/images/background.png");
  background-size: cover;
  background-position: center;
  height: 280px;
}

#guest-header h1 {
  color: var(--color-title);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: var(--font-libre-caslon-display);
  font-size: 3rem;
  position: relative;
  top: 20px;
  text-align: center;
}

#guest-header .your-digital-book {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  color: var(--color-title);
  font-size: 1.2rem;
}


#guest-header .modal-btn {
  background-color: var(--color-third);
  color: var(--color-background);
  width: 30%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 3px;
  border: none;
  box-shadow: inset 0 5px 7px -7px rgba(0, 0, 0, 0.4);
  height: 1.8rem;
  cursor: pointer;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}

#guest-header #modal-container {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4sec;
}

#guest-header #modal-container.active {
  visibility: visible;
  transition: visibility 0s;
}

#guest-header #modal-container.active #overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;

}

#guest-header #modal-container.active #modal {
  opacity: 1;
  transition: opacity 0.4s 0.2s ease-out;
}

#guest-header #overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
  transition: opacity 0.4s 0.2s ease-out;
}

#guest-header #userLogin {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

#guest-header #userLogin label {
  text-align: center;
  color: var(--color-background);
  margin-bottom: 0.7rem;
}

#guest-header #userLogin input {
  margin-bottom: 0.5rem;
  background-color: #FFF4E3;
  justify-content: center;
  border-radius: 3px;
  border: none;
  box-shadow: inset 0 5px 7px -7px rgba(0, 0, 0, 0.4);
  height: 1.8rem;
  margin-left: 10%;
  margin-right: 10%;
}

#guest-header #passwordLogin {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#guest-header #passwordLogin label {
  text-align: center;
  color: var(--color-background);
  margin-bottom: 0.7rem;
}

#guest-header #passwordLogin input {
  margin-bottom: 0.5rem;
  background-color: #FFF4E3;
  justify-content: center;
  border-radius: 3px;
  border: none;
  box-shadow: inset 0 5px 7px -7px rgba(0, 0, 0, 0.4);
  height: 1.8rem;
  margin-left: 10%;
  margin-right: 10%;
}

#guest-header #passwordLogin a {
  text-decoration: none;
  color: var(--color-background);
  font-size: 0.7rem;
}

#guest-header #modal #signUp {
  font-size: 1rem;
  text-align: center;
  color: var(--color-background);
}

#guest-header #modal {
  opacity: 0;
  width: 80%;
  max-width: 500px;
  min-width: 300px;
  padding: 30px;
  background: var(--color-main);
  position: absolute;
  border-radius: 5px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s ease-out;
}

#guest-header #submit {
  margin-top: 1rem;
  background-color: #FFF4E3;
  justify-content: center;
  border-radius: 3px;
  border: none;
  box-shadow: inset 0 5px 7px -7px rgba(0, 0, 0, 0.4);
  height: 1.8rem;
  margin-left: 40%;
  margin-right: 40%;
}

#home-guest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-guest section {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

#home-guest section#middle {
  background-color: var(--color-card);
  border-radius: 0.5rem;
  flex-direction: row-reverse;
}

#home-guest section p {
  color: var(--color-second);
  text-align: justify;
  font-family: var(--font-libre-caslon-text);
  font-size: 1rem;
  width: 50%;
}

#home-guest #section1 {
  display: flex;
}

#home-guest #middle {
  display: flex;
}

#home-guest #section3 {
  display: flex;
}

#home-guest #section1.active {
  display: none;
}

#home-guest #middle.active {
  display: none;
}

#home-guest #section3.active {
  display: none;
}

@media screen and (min-width: 1200px) {
  #main-nav {
    top: 280px;
  }

  #guest-header h1 {
    position: relative;
    top: 40px;
  }

  #guest-header a img {
    left: 40px;
    top: 40px;
  }
}


/*# sourceMappingURL=guest.css.map */