<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/assets/images/favicon.png">


		<title>
			{% block title %}MyBookshelf
			{% endblock %}
		</title>
		{% block stylesheet %}
			<link rel="stylesheet" href="/assets/css/style.css">
			<link rel="stylesheet" href="/assets/css/mobile.css">
			<link href="/assets/css/desktop.css" media="screen and (min-width: 1200px)" rel="stylesheet"/>
		{% endblock %}
	</head>

	<body>
		{% block header %}
			{% include 'book/_header.html.twig' %}
		{% endblock %}
		{% block content %}{% endblock %}
		{% block footer %}
			{% include 'book/_footer.html.twig' %}
		{% endblock %}
		{% block navbar %}
			{% include 'Book/_navbar.html.twig' %}
		{% endblock %}
		{% block javascript %}
			<script src="/assets/js/read.js"></script>
			<script src="/assets/js/cover.js"></script>
		{% endblock %}
	</body>
</html>
