<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/assets/images/favicon.png">

        <title>MyBookshelf - {% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="/assets/css/reset.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/desktop.css" media="(min-width: 1200px)">

        <link rel="stylesheet" href="/assets/css/navbar/navbar.css">
        {% block stylesheet %}
        {% endblock %}
    </head>

    <body>
        {% block header %}
            {% include 'Components/_header.html.twig' %}
        {% endblock %}

        {% block navbar %}
            {% include 'Components/_navbar.html.twig' %}
        {% endblock %}

        <div id="content">
            {% block content %}
            
            {% endblock %}
        </div>

        {% block footer %}
            {% include 'Components/_footer.html.twig' %}
        {% endblock %}

        {% block javascript %}
            <script src="/assets/js/navbar.js"></script>
        {% endblock %}
    </body>
</html>
