{% extends 'layout.html.twig' %}
{% block header %}
{% endblock %}

{% block content %}
{# Search Bar #}
{# Body #}
<div class="card-home-library">
            <div class="container">
            <div>
                <img src="../../assets/images/books/book-Harry-Potter-et-la-Chambre-des-Secrets.png"> 
            </div>
                <div>
                <h1 class="book-1">Harry Potter and the Chamber of Secrets</h1>
                </div>
                <div class="bloc-text">
                    <div class="text-home-middle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                </div>
{# Body #}
{% endblock %}