{% extends 'layout.html.twig' %}

{% block header %}
{% endblock %}

{% block content %}
        <div class="container-book">
            <div class="card-model">
                <img src="../assets/images/books/book-harry-potter-et-la-chambre-des-secrets.png">
                <div class="bloc-book">
            <div>
                <h1 class="book-title-h1">Harry Potter and the Chamber of Secrets</h1>
            </div>
            <div>
                <div class="flex-book-title">
                    <h2 class="book-title-h2">J.K.Rowling</h2>
                        <p class="book-title-h2">1999</p>
                </div>
                <div>
                        <p class="book-resume">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            </div>
        </div>

        <div class="container-book">
            <div class="card-model">
                <img src="../assets/images/books/livre-l-inconnu-de-la-foret.png">
                <div class="bloc-book">
            <div>
                <h1 class="book-title-h1">L’inconnu de la forêt</h1>
            </div>
            <div>
                <div class="flex-book-title">
                    <h2 class="book-title-h2">Harlan Coben</h2>
                        <p class="book-title-h2">2008</p>
                </div>
                <div>
                        <p class="book-resume">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            </div>
        </div>

        <div class="container-book">
            <div class="card-model">
                <img src="../assets/images/books/book-harry-potter-et-la-chambre-des-secrets.png">
                <div class="bloc-book">
            <div>
                <h1 class="book-title-h1">Harry Potter and the Chamber of Secrets</h1>
            </div>
            <div>
                <div class="flex-book-title">
                    <h2 class="book-title-h2">J.K.Rowling</h2>
                        <p class="book-title-h2">1999</p>
                </div>
                <div>
                        <p class="book-resume">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            </div>
        </div>

{% endblock %}