<nav>
    <div id="navbar-head"></div>
    <div id="navbar-container">
        <div class="btn library">
            <a href="">
                <img class="icon-mobile" src="/assets/images/navbar/icon-library.png" alt="Library button">
                <img class="icon-desktop" src="/assets/images/navbar/icon-library-colored.png" alt="Library button">
            </a>
        </div>
        <div class="btn add">
            <a href="formAdd.html.twig">
                <img class="icon-mobile" src="/assets/images/navbar/icon-add.png" alt="Add button">
                <img class="icon-desktop" src="/assets/images/navbar/icon-add-colored.png" alt="Add button">
            </a>
        </div>
        <div class="btn search">
            <a href="">
                <img class="icon-mobile" src="assets/images/navbar/icon-search.png" alt="Search button">
                <img class="icon-desktop" src="assets/images/navbar/icon-search-colored.png" alt="Search button">
            </a>
        </div>
        <div class="btn stats">
            <a href="">
                <img class="icon-mobile" src="assets/images/navbar/icon-stats.png" alt="Statistics button">
                <img class="icon-desktop" src="assets/images/navbar/icon-stats-colored.png" alt="Statistics button">
            </a>
        </div>
        <div class="btn user" id="btn-user">
            <img class="icon-mobile" src="assets/images/navbar/icon-user.png" alt="User menu button">
            <img class="icon-desktop" src="assets/images/navbar/icon-user-colored.png" alt="User menu button">
        </div>
    </div>
    <div id="user-menu">
        <div id="user-menu-head"></div>
        <div id="user-menu-container">
            <div class="btn user-info">
                <a href="">
                    <img class="icon-unselected" src="assets/images/navbar/user-menu/icon-user-info.png" alt="User informations button">
                    <img class="icon-selected" src="assets/images/navbar/user-menu/icon-user-info-colored.png" alt="User informations button">
                </a>
            </div>
            <div class="btn user-stats">
                <a href="">
                    <img class="icon-unselected" src="assets/images/navbar/user-menu/icon-user-stats.png" alt="User statistics button">
                    <img class="icon-selected" src="assets/images/navbar/user-menu/icon-user-stats-colored.png" alt="User statistics button">
                </a>
            </div>
            <div class="btn user-friends">
                <a href="">
                    <img class="icon-unselected" src="assets/images/navbar/user-menu/icon-user-friends.png" alt="User friends button">
                    <img class="icon-selected" src="assets/images/navbar/user-menu/icon-user-friends-colored.png" alt="User friends button">
                </a>
            </div>
            <div class="btn user-library">
                <a href="">
                    <img class="icon-unselected" src="assets/images/navbar/user-menu/icon-user-library.png" alt="User library button">
                    <img class="icon-selected" src="assets/images/navbar/user-menu/icon-user-library-colored.png" alt="User library button">
                </a>
            </div>
            <div class="btn user" id="btn-user-close">
                <img class="icon-unselected" src="assets/images/navbar/icon-user.png" alt="User menu button">
                <img class="icon-selected" src="assets/images/navbar/icon-user-colored.png" alt="User menu button">
            </div>
        </div>
    </div>
</nav>