<div id="search">
    <div id="search-bar">
        <img class="btn search" src="/assets/images/search/icon-search.svg" alt="Search button"/>
        <form action="" method="get">
            <input id="search-field" type="text" placeholder="Search"/>
        </form>
        <img class="btn settings" src="/assets/images/search/icon-settings.svg" alt="Settings button">
    </div>
    <div id="search-box">
        filters and sorting here
    </div>
</div>
<script scr="/assets/js/search.js"></script>