<div id="search">
    <div id="search-bar">
        <img src="/assets/images/search/icon-search.svg" alt="Search button"/>
        <input id="search-field" type="text" placeholder="Search"/>
        <img src="/assets/images/search/icon-settings.svg" alt="Settings button">
    </div>
    <div id="search-box">
        search box
    </div>
</div>