{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/searchbar/searchbar.css">
{% endblock %}

{% block title %}
	Global Library
{% endblock %}

{% block content %}


	{% include 'Components/_search.html.twig' %}
	<div id="global-block">
	
		{{ errors }}

		{# <ul id="book-list">
		</ul> #}

		{% for book in books %}
			{% include 'Components/_book-card.html.twig' %}
		{% else %}
			<div class="nothing-to-display">
				<li>Nothing to display</li>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script src="/assets/js/search.js"></script>
{% endblock %}
