#header {
    width: 100%;
    height: 1rem;
}

body {
    background-color: var(--color-background);
}

h1 {
    color: var(--Second, #9D244D);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Libre Caslon Display;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 3rem;
    width: 100%;
}

div#bookTitle {
    display: flex;
    justify-content: center;
    
}

#author {
    color: #947982;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25rem;
    height: 5rem;
    flex-shrink: 0;
    text-align: center;
    font-family: Libre Caslon Display;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#note {
    color: var(--Second, #9D244D);
    font-family: Libre Caslon Display;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: flex-start;
}

h2 {
    color: var(--color-second);
}

div#picture {
    display: flex;
    float: left;
    margin: 8rem;
    margin-left: 20rem;
    width: auto;
    height: 35rem;
}

.separation {
    clear: both;
    position: center;
    height: 2.5rem;
    background: black;
    margin: auto;
}


.categories {
    display: flex;
    justify-content: space-evenly;
    font-size: 3rem;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    width : 100%;
}

.detail {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

div.icones {
    display: grid;
    align-items: flex-start;
}

.review {
    padding: 1rem;
}

.share {
    padding: 1rem;
}

.add {
    padding: 1rem;
}

#synopsis {
    text-align: justify;
    margin: 1.5rem;
    font-size:1.5rem;
    color: var(--color-main);
}

#details {
    display: none;
    text-align: center;
    line-height: 4rem;
    margin: 2rem;
    font-size: 1.7rem;
    color: var(--color-main);
}