#guest-header {
    width: 390px;
}

.book-icon {
    position: absolute;
    top: 2.5rem;
    left: 2.56rem;
}

.mybookshelf-h1 {
    color: #E8D2C9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Libre Caslon Display;
    font-size: 3rem;
    line-height: 3.68rem;
    font-weight: 400;
    position: absolute;
    top: 1.56rem;
    left: 6.87rem;
    right: 2.56rem;
}

.your-digital-book {
    color: #EDC7B7;
    text-align: center;
    font-family: Libre Caslon Display;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 9.38rem;
    left: 2.5rem;
}

body {
    background: var(--Background, #FFEAD7);
}

.bloc-text {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 24.375rem;
    height: 10.375rem;
}

.heart {
    right: 3rem;
}

.text-home {
    color: #9D244D;
    text-align: justify;
    font-family: Libre Caslon Text;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    left: 2.75rem;
    right: 8.75rem;
    width: 12.875rem;
}

.text-home-middle {
    color: #9D244D;
    display: flex;
    width: 13.0625rem;
    height: 4.5rem;
    flex-direction: column;
    justify-content: center;
    font-family: Libre Caslon Text;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card-home {
    border: 0.2px solid rgba(0, 0, 0, 0.50);
    background: #F9E2C7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 24.375rem;
    height: 10.375rem;
    justify-content: center;
    align-items: center;
}