header {
    background-image: url("../images/headers.png");
    padding-bottom: 13%;
    margin: 0 auto;
}

.title {
    color: #E8D2C9;
    font-family: 'Goudy Bookletter 1911', serif;
    margin: 0;
    padding-top: 5%;
    padding-right: 30%;
    display: flex;
    justify-content:center;
}
