#header {
    width: 100%;
    height: auto;
}

body {
    background-color: var(--color-background);
    margin-bottom: 25%;
}

h1 {
    color: var(--color-second);
    margin: 1rem;
    text-align: center;
}

.infos {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    color: grey;
}

h2 {
    color: var(--color-second);
}

div#picture {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1.5rem;
    width: auto;
    height: 20rem;
}

.separation {
    clear: both;
    position: center;
    height: 2.5rem;
    background: black;
    margin: auto;
}

.categories {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    width : 100%;
}

.detail {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

div.icones {
    display: flex;
    justify-content: center;
}

.review {
    padding: 1rem;
}

.share {
    padding: 1rem;
}

.add {
    padding: 1rem;
}

#synopsis {
    text-align: justify;
    margin: 1.5rem;
    font-size:1.5rem;
    color: var(--color-main);
}

#details {
    display: none;
    text-align:unset; 
    line-height: 2.5rem;
    margin: 1.5rem;
    font-size: 1.5rem;
    color: var(--color-main);
}
