@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jomolhari&display=swap");
:root {
  --color-main: #370A0A;
  --color-second: #9D244D;
  --color-third: #7A3434;
  --color-background: #FFEAD7;
  --color-card: #F9E2C7;
  --color-title: #EDC7B7;
  --shadow-drop-small: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  --shadow-drop: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
  --shadow-text: 2px 2px 2px rgba(0, 0, 0, .5);
  --font-inter: "Inter", sans-serif;
  --font-libre-caslon-display: "Libre Caslon Text", serif;
  --font-libre-caslon-text: "Libre Caslon Display", serif;
  --font-roboto: "Roboto", sans-serif;
  --font-jomolhari: "Jomolhari", serif;
}

/* --- RESET CSS --- */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

/* img {
  max-width: 100%;
  height: auto;
} */
/* only for dev & testing */
body {
  height: 1000px;
  background-color: var(--color-background);
  color: var(--color-main);
  font-family: var(--font-libre-caslon-text);
}

/* - */
html {
  scroll-behavior: smooth;
}

* {
  font-family: var(--font-roboto);
}

#content {
  padding: 0 1rem;
}

/* --- NAVBAR ---  */
nav {
  width: 100%;
  max-height: 1400px;
  position: fixed;
  bottom: 0;
}

#navbar-head {
  width: 80px;
  height: 16px;
  margin: 0 auto;
  background-image: url("/assets/images/navbar/navbar-container-head.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

#navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90px;
  max-height: 800px;
  padding: 10px 0.5% 0;
  background-image: url("/assets/images/navbar/navbar-container-body.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#navbar-container .btn a, #navbar-container .btn img {
  height: 3rem;
}
#navbar-container .btn.search img {
  height: 3.5rem;
}

#user-menu {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 50vh;
  min-height: 300px;
  max-height: 400px;
}

#user-menu-head {
  height: 24px;
  background-image: url("/assets/images/navbar/user-menu/user-menu-container-head.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#user-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 14px;
  height: calc(50vh - 24px);
  min-height: 276px;
  max-height: 376px;
  background-color: var(--color-third);
  border-radius: 1rem 1rem 0 0;
}
#user-menu-container .btn a, #user-menu-container .btn img {
  height: 2rem;
}
#user-menu-container .btn.user img {
  height: 3rem;
}

.icon-desktop {
  display: none;
}

.icon-selected {
  display: none;
}

/* -- SEARCH -- */
form#search {
  position: sticky;
  width: 100%;
  top: 10px;
}

#search-bar, #search-box {
  background-color: var(--color-main);
  color: white;
  filter: var(--shadow-drop-small);
  width: 66%;
  min-width: 320px;
  max-width: 600px;
}

#search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  margin: 10px auto;
  padding: 5px 12px;
  border-radius: 2rem;
}
#search-bar .btn {
  height: 1.6rem;
  width: 1.6rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0 none;
  filter: var(--shadow-drop-small);
  cursor: pointer;
}
#search-bar .btn.search {
  background-color: #370A0A;
  background-image: url("/assets/images/search/icon-search.svg");
}
#search-bar .btn.settings {
  background-image: url("/assets/images/search/icon-settings.svg");
}
#search-bar #search-field {
  width: 80%;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  background-color: transparent;
  color: white;
  font-family: var(--font-jomolhari);
  text-shadow: var(--shadow-text);
  font-size: 1rem;
}
#search-bar #search-field:focus-visible {
  outline: none;
}
#search-bar ::placeholder {
  color: lightgray;
  font-family: var(--font-jomolhari);
  text-shadow: var(--shadow-text);
  font-size: 1.2rem;
}

#search-box {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  justify-content: space-around;
  margin: 0 auto;
  padding: 1rem 1rem;
  border-radius: 1.4rem;
}
#search-box > .filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}
#search-box > .filter label {
  cursor: pointer;
}
#search-box > .filter .params {
  background-color: var(--color-third);
  border: 1px solid black;
  border-radius: 0.5rem;
  position: absolute;
  top: 40px;
  padding: 2px 0.5rem;
}
#search-box > .filter .params option {
  text-align: center;
}
#search-box > .sort {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: fit-content;
  cursor: pointer;
}
#search-box > .sort .btn.sort {
  height: 1.2rem;
  margin: 0 0.5rem;
}

.hidden {
  display: none;
}

.reversed {
  transform: scaleY(-1);
}/*# sourceMappingURL=style.css.map */