@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jomolhari&display=swap");
:root {
  --color-main: #370A0A;
  --color-second: #9D244D;
  --color-third: #7A3434;
  --color-background: #FFEAD7;
  --color-card: #F9E2C7;
  --color-title: #EDC7B7;
  --font-inter: "Inter", sans-serif;
  --font-libre-caslon-display: "Libre Caslon Text", serif;
  --font-libre-caslon-text: "Libre Caslon Display", serif;
  --font-roboto: "Roboto", sans-serif;
  --font-jomolhari: "Jomolhari", serif;
}

/* --- RESET CSS --- */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

/* img {
  max-width: 100%;
  height: auto;
} */

@font-face{
  font-family: 'Libre Caslon Text';
  src:url(../font/Libre_Caslon_Text/libre-caslon-text-regular.ttf);
}

#global-block {
  margin-bottom: 20rem;
}

.container {
    width: 100%;
}

.book-icon {
  position: absolute;
  top: 2.5rem;
  left: 2.56rem;
}

.mybookshelf-h1 {
  color: #E8D2C9;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Libre Caslon Display;
  font-size: 3rem;
  line-height: 3.68rem;
  font-weight: 400;
  position: absolute;
  top: 1.56rem;
  left: 6.87rem;
  right: 2.56rem;
}

.your-digital-book {
  color: #EDC7B7;
  text-align: center;
  font-family: Libre Caslon Display;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 8.5rem;
  left: 2.5rem;
}

body {
  background: var(--Background, #FFEAD7);
}

.bloc-text {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 24.375rem;
  height: 10.375rem;
}

.heart {
    right: 3rem;
}

.text-home {
  color: #9D244D;
  text-align: justify;
  font-family: Libre Caslon Text;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  left: 2.75rem;
  right: 8.75rem;
  width: 12.875rem;
}

.text-home-middle {
  color: #9D244D;
  display: flex;
  width: 13.0625rem;
  height: 4.5rem;
  flex-direction: column;
  justify-content: center;
  font-family: Libre Caslon Text;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card-home {
  border: 0.2px solid rgba(0, 0, 0, 0.50);
  background: #F9E2C7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 24.375rem;
  height: 10.375rem;
  justify-content: center;
  align-items: center;
}

.heart-icon {
  position: absolute;
  padding-left: 19.5rem;
  margin-top: -0.7rem;
}
.container-icons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-icons img {
  width: 3rem;
  height: 3rem;
}

.header-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: auto;
  height: auto;
  margin-top: 3rem;
  justify-items: center;
  align-items: center;
}

.header-icons-title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: auto;
  height: auto;
  text-align: center;
  margin-top: 1.5rem;
  color: var(--Second, #9D244D);
  font-family: Roboto;
  font-size: 0.875rem;
}

.container-book {
  box-sizing: border-box;
  margin: 0rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2.31rem;
 
}

.card-model {
  display: flex;
  width: 23.25rem;
  height: 13.5625rem;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.625rem;
  border: 0.2px solid rgba(0, 0, 0, 0.50);
  background: var(--Card-color, #F9E2C7);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.card-model-library {
  display: flex;
  width: 23.25rem;
  height: 9.5rem;
  padding-left: 0.56rem;
  align-items: flex-end;
  justify-content: center;
  border-radius: 0.625rem;
  border: 0.2px solid rgba(0, 0, 0, 0.50);
  background: var(--Card-color, #F9E2C7);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  padding-bottom: 1rem;
}

.bloc-book {
  display: flex;
  flex-direction: column;
}

.book-link {
  text-decoration: none;
  color: var(--Second, #9D244D);
  font-family: Libre Caslon Text;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  width: 11.9375rem;
  height: 3rem;
  flex-direction: column;
  justify-content: center;
}

.flex-book-title {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  padding-top: 0.2rem;
}


.card-grid-book {
  display: grid; 
  grid-template-rows: 2fr 1fr 1fr 1.5fr;
  grid-template-columns: 2fr 2fr 2fr 1fr 1.5fr;

  gap: 0px;

  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 0.5rem;
  width: 23.25rem;
  height: 9.5rem;

  border-radius: 0.625rem;
  border: 0.2px solid rgba(0, 0, 0, 0.50);
  background: var(--Card-color, #F9E2C7);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  
}
 
#item-0-book-cover {
  margin: 1rem 1rem 1rem;
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 5;
  grid-column-end: 2;
  
}
#item-1-title {
  width: 100%;
  padding-top: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 6;
  
}
#item-2-author {
  width: 100%;
  margin-top: 0.5rem;
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 4;
  
}
#item-3-year {
  margin-top: 0.5rem;
  margin-right: 1rem;
  grid-row-start: 2;
  grid-column-start: 4;

  grid-row-end: 3;
  grid-column-end: 6;
  
}
#item-4-editor {
  margin-right: 1rem;
  grid-row-start: 3;
  grid-column-start: 4;

  grid-row-end: 4;
  grid-column-end: 6;
  
}
#item-5-genre {
  margin: auto;
  grid-row-start: 3;
  grid-column-start: 2;

  grid-row-end: 5;
  grid-column-end: 3;
  
}
#item-6-opinion {
  margin: auto; 
  grid-row-start: 3;
  grid-column-start: 3;

  grid-row-end: 5;
  grid-column-end: 4;
  
}
#item-7-review {
  padding-bottom: 1rem;
  grid-row-start: 4;
  grid-column-start: 4;

  grid-row-end: 5;
  grid-column-end: 5;
  
}
#item-8-score {
  grid-row-start: 4;
  grid-column-start: 5;

  grid-row-end: 5;
  grid-column-end: 6;
  
}

.li-marker {
  list-style: none;
}

.book-title-h1 {
  color: var(--Second, #9D244D);
  font-family: Libre Caslon Text;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}


.book-title-h1:hover {
  color: var(--Second, #fb4c86);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
}

.book-title-h2 {
  color: var(--Second, #9D244D);
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.book-title-year {
  color: #947982;
  text-align: right;
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.book-edition {
  color: #947982;
  text-align: right;
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.bloc-genre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 0.63rem;
  margin: -0.3rem;
}

.book-genre {
  color: #947982;
  text-align: left;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.book-opinion {
  color: #947982;
  text-align: right;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.comment-star {
  width: 0.75rem;
  height: 0.75rem;
}

.review {
  height: auto;
  color: #0a0a0a;
  text-align: justify;
  font-family: Libre Caslon Text;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.score {
  height: auto;
  margin-left: 1.5rem;
  color: #0a0a0a;
  text-align: justify;
  font-family: Libre Caslon Text;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.book-cover {
  width: 4.88638rem;
  height: 7.5rem;
  border-radius: 0.0625rem 0.125rem 0.125rem 0.0625rem;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nothing-to-display {
  text-align: center;
}

/* --- NAVBAR ---  */
/* only for dev & testing */
body {
  height: 1000px;
  background-color: var(--color-background);
  color: var(--color-main);
  font-family: var(--font-libre-caslon-text);
}

/* - */
nav {
  width: 100%;
  max-height: 1400px;
  position: fixed;
  bottom: 0;
}

#navbar-head {
  width: 80px;
  height: 16px;
  margin: 0 auto;
  background-image: url("/assets/images/navbar/navbar-container-head.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

#navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90px;
  max-height: 800px;
  padding: 10px 0.5% 0;
  background-image: url("/assets/images/navbar/navbar-container-body.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#navbar-container .btn a, #navbar-container .btn img {
  height: 3rem;
}
#navbar-container .btn.search img {
  height: 3.5rem;
}

#user-menu {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 50vh;
  min-height: 300px;
  max-height: 400px;
}

#user-menu-head {
  height: 24px;
  background-image: url("/assets/images/navbar/user-menu/user-menu-container-head.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#user-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 14px;
  height: calc(50vh - 24px);
  min-height: 276px;
  max-height: 376px;
  background-color: var(--color-third);
  border-radius: 1rem 1rem 0 0;
}
#user-menu-container .btn a, #user-menu-container .btn img {
  height: 2rem;
}
#user-menu-container .btn.user img {
  height: 3rem;
}

.icon-desktop {
  display: none;
}

.icon-selected {
  display: none;
}

/* -- SEARCH -- *//*# sourceMappingURL=style.css.map */
