@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');

:root {
  --color-main: #370A0A;
  --color-second: #9D244D;
  --color-third: #7A3434;
  --color-background: #FFEAD7;
  --color-card: #F9E2C7;
  --color-title: #EDC7B7;

  --font-inter: 'Inter', sans-serif;
  --font-libre-caslon-display: 'Libre Caslon Text', serif;
  --font-libre-caslon-text: 'Libre Caslon Display', serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-jomolhari: 'Jomolhari', serif;
}

/* reset css */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}
