<form method="post">
	<input type="hidden" name="id">
	<div>
		<label for="title">Title of article</label>
		<input type="text" name="title" id="title">

		{% if errors.title is defined %}
		<p class="error">{{ errors.title }}</p>
		{% endif %}
	</div>
	<div>
		<label for="content">Contenu</label>
		<textarea name="content" id="content"></textarea>

		{% if errors.content is defined %}
		<p class="error">{{ errors.content }}</p>
		{% endif %}
	</div>
	<div>
		<label for="picture">Image</label>
		<input type="file" name="picture" id="picture"></textarea>
	</div>
	<div>
		<label for="category">Catégorie</label>
		<select name="category" id="category">
			<option>Actualité</option>
			<option>Sport</option>
			<option>Technologie</option>
		</select>
	</div>
	<button type="submit">Créer</button>
</form>
